.title-name {
    /* font-family: 'Vast Shadow', cursive; */
    color: #F4C8BD;
}

.title-name-shadow {
    color: #F4C8BD;
    text-shadow: 2px 2px #000;
}

.title-body-shadow {
    color: #F4C8BD;
    text-shadow: 2px 2px #000;
}

.truck-bg {
    background-image: url('/images/fback_truck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
